header{
    text-align: center;
    font-size: 12px;
    color: rgb(26, 216, 26);
}

header img{
    width: 200px;
    height: 90px;
}

.container{
    width: 1000px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 80px;
    border-radius: 10px;
}

body{
    background-image:url(background.jpg);
    background-size: 1500px;
    font-family: 'Montserrat', sans-serif;
}

.navigator{
    background-color: rgb(26, 216, 26);
    padding: 15px;
    text-align: center;
}

section{
    padding-top: 20px;
}

section div{
    font-size: 13px;
    padding: 2px;
}

span strong{
    font-size: 20px;
}

.Arrow:before{
    content: "\21A6";
}

.Bar.Gino{
    max-width: 30%; 
    margin-left:0;
    height: 20px;
    background-color: rgb(231, 205, 8);
    border: none;
    border-radius: 5px;
}

.Bar.Mike{
    max-width: 50%; 
    margin-left:0;
    height: 20px;
    background-color: rgb(26, 216, 26);
    border: none;
    border-radius: 5px;
}

.Bar.Fede{
    max-width: 10%; 
    margin-left:0;
    height: 20px;
    background-color: rgb(211, 22, 22);
    border: none;
    border-radius: 5px;
}






